@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default;

}

:root {
  color-scheme: light dark;
}

html {
  transition: background-color 0.3s, color 0.3s;
}

html:not(.dark) {
  background-color: white;
  color: rgb(17, 24, 39);
}

html.dark {
  background-color: rgb(17, 24, 39);
  color: rgb(243, 244, 246); 
}

*{
      font-family: "Roboto", sans-serif;

}